body {
    background-color: rgb(250, 240, 199);
}

body h1 {
    margin: 30px 160px
}

body h2 {
    margin: 0 20px;
}

main h3 {
    margin: 0px 80px;
    display:inline-block
}

.distancia {
    margin: 0px -20px;
}

.distancia2 {
    margin: 0px -30px;
}

.distancia3 {
    margin: 0px 10px;
}

.distancia4 {
    margin: 0px -60px;
    
}

.distancia5 {
    margin: 0px -40px;
    
}

.distancia6 {
    margin: 0px 0px;
    
}

img {
    width: 360px;
    border: 3.5px solid;
    border-color: rgb(162, 120, 162);
}

img:hover {
    transform: scale(1.05);
}

.img {
    margin: 0 10px;
}

.img2 {
    margin: 0 0px;
}

.img3 {
    margin: 0 10px;
}

.img4 {
    margin: 0 10px;
}

.img5 {
    margin: 0px 10px;
}

.img6 {
    margin: 0 50px;
}

div {
    padding: 12px;
}

main ul {
    margin: 10px 70px ;
}

main li {
    margin: 30px;
    display: inline-block;
}

main a:hover{
    color: red;
    cursor: pointer;
}

main a:active, main li:active {
    color: #6b21ff;
}

footer {
    padding: 20px;
}